# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
.turbo/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test artifacts
coverage/

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# runtime state
*.rdb
